:root{
    /* color */
    --color-main: #1367e7;
    --color-main-hover: #054ab4;
    --color-white: #fff;
    --color-dark: #000;

    /* width */
    --col-width-10: 10%;
    --col-width-20: 20%;
    --col-width-30: 30%;
    --col-width-40: 40%;
    --col-width-50: 50%;
    --col-width-33: calc(100% / 3);
    --container-width: 160rem;

    /* grid */
    --grid-template-1: repeat(1, 1fr);
    --grid-template-2: repeat(2, 1fr);
    --grid-template-3: repeat(3, 1fr);
    --grid-template-4: repeat(4, 1fr);

    /* font-size */
    --font-size-16: 1.6rem;
    --font-size-18: 1.8rem;
    --font-size-22: 2.2rem;
    --font-size-24: 2.4rem;
    --font-size-30: 3.0rem;
    --font-size-32: 3.2rem;
    --font-size-36: 3.6rem;
    --font-size-42: 4.2rem;
    --font-size-60: 6.0rem;
}

@media screen and (max-width: 1500px) {
    :root{
        /* width */
        --container-width: 100%;
    
        /* font-size */
        --font-size-16: 1.4rem;
        --font-size-18: 1.4rem;
        --font-size-22: 1.8rem;
        --font-size-24: 2.0rem;
        --font-size-30: 2.4rem;
        --font-size-32: 2.6rem;
        --font-size-36: 3.0rem;
        --font-size-42: 3.2rem;
        --font-size-60: 5.0rem;
    }
}
@media screen and (max-width: 800px) {}
@media screen and (max-width: 500px) {
    html{font-size: 2vw;}
    :root{
        /* width */
        --container-width: 100%;
    
        /* font-size */
        /* --font-size-16: 1.4rem; */
        /* --font-size-18: 1.4rem; */
        /* --font-size-22: 1.8rem; */
        /* --font-size-24: 2.0rem; */
        /* --font-size-30: 2.4rem; */
        /* --font-size-32: 2.6rem; */
        /* --font-size-36: 3.0rem; */
        /* --font-size-42: 3.2rem; */
    }
}

body{padding-top: 6.4rem}
.container{
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
}


/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 calc((100% - var(--container-width)) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255,255,255,0.6);
    backdrop-filter: blur(6px);
    z-index: 99999;
}
header .navbar{/* display: flex; *//* align-items: center; */margin: 2rem 0 2rem;}
header .home{}
header .home a{
    display: block;
    color: var(--color-main);
    font-size: var(--font-size-36);
    font-weight: 700;
    letter-spacing: -0.03em;
}

header .navbar .gnb{
    display: flex;
    gap: 5rem;
}
.gnb > li{}
.gnb > li > a{
    color: var(--color-dark);
    font-size: var(--font-size-24);
    font-weight: 600;
    letter-spacing: -0.023em;
}
.gnb > li > a:hover,
.gnb > li > a:focus{
    color: var(--color-main);
}

header .btn-toggle{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: #999;
    border-radius: 50%;
    box-shadow: 0 0 22px 3px rgba(0,0,0,0.23);
    display: none;
}
header .btn-toggle:hover,
header .btn-toggle:focus{}
header .btn-toggle .hb-bar{
    background: var(--color-dark);
    width: 2rem;
    height: 0.2rem;
    border-radius: 1rem;
}
header .btn-toggle .hb-bar ~ .hb-bar{
    margin-top: 0.4rem;
}
header .btn-toggle:hover .hb-bar,
header .btn-toggle:focus .hb-bar{}

#main{
    position: relative;
    padding: 12rem 0;
}
#main section:not(:first-child){padding-top: 12rem;}
#main section:not(:last-child){padding-bottom: 12rem;}
#main section .title{
    font-size: var(--font-size-60);
    font-weight: 800;
    text-align: center;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0 0 12rem;
}

/* about */
.about-wrap{
    display: grid;
    grid-template-columns: var(--grid-template-2);
    gap: 10rem;
}

/* greeting */
.about-wrap .greeting{}
.about-wrap .greeting p{
    font-size: var(--font-size-18);
    margin: 0 0 3rem;
}
.about-wrap .greeting p:last-child{margin: 0;}
.about-wrap .greeting > p{
    margin: 0 0 6rem;
    font-size: var(--font-size-36);
    font-weight: 600;
    color: var(
    --color-dark);
    line-height: 1.4;
}
.about-wrap .greeting > p .emp{
    position: relative;
    color: var(--color-main);
    font-weight: 700;
}
.about-wrap .greeting > p .emp.ui{}
.about-wrap .greeting > p .emp.ux{}
.about-wrap .greeting > p strong{
    font-size: 5.5rem;
    font-weight: 900;
    color: var(--color-main);
}

.about-wrap .greeting .btn-more{
    display: block;
    font-size: var(--font-size-18);
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    color: #999;
}
.about-wrap .greeting .btn-more:hover,
.about-wrap .greeting .btn-more:focus{
    color: var(--color-main-hover);
}

.about-wrap .greeting .more{
    margin: 4rem 0 0;
}
.about-wrap .greeting .more.open{}
.about-wrap .greeting .more p{
    color: #666;
}
.about-wrap .greeting .more p ~ p{}

/* career */
.career-wrap{}
.career-wrap .career{
    margin: 0 0 3rem;
    display: flex;
    align-items: flex-start;
    font-size: var(--font-size-24);
    gap: 6rem;
}
.career-wrap li:not(:first-child){margin-top: 1rem;}

.career-wrap .career .date{
    font-weight: 700;
    color: var(--color-main);
}
.career-wrap .career .issue{}
.career-wrap .career .issue > li{}
.career-wrap .career .issue > li > b{}

.career-wrap .experience{
    margin-top: 1rem;
}
.career-wrap .experience .li-exp{}
.career-wrap .experience .li-exp > li{
    position: relative;
    font-size: var(--font-size-18);
    padding-left: 1.2rem;
}
.career-wrap .experience .li-exp > li::before{
    content: '';
    position: absolute;
    top: 0.8rem;
    left: 0;
    display: block;
    width: 3px;
    height: 3px;
    background: var(--color-main);
}

/* portfolio */
.portfolio-wrap{
    display: grid;
    grid-template-columns: var(--grid-template-3);
    gap: 6rem;
}
.portfolio-wrap .portfolio-link{display: flex;flex-direction: column;gap: 2rem;}
.portfolio-wrap .portfolio-link .image{
    overflow: hidden;
    aspect-ratio: 3/2;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    transition: all .3s ease;
    border-radius: 2rem;
}
.portfolio-wrap .portfolio-link img{
    width: 100%;
}
.portfolio-wrap .portfolio-link .comp-name{
    text-align: center;
    font-size: var(--font-size-22);
    font-weight: 600;
    color: var(--color-dark);
}
.portfolio-wrap .portfolio-link:hover{}
.portfolio-wrap .portfolio-link:hover .image{
    box-shadow: 0 0.6rem 3.5rem -0.6rem rgba(0,0,0,0.21);
}
.portfolio-wrap .portfolio-link:hover img{}
.portfolio-wrap .portfolio-link:hover .comp-name{}

footer{
    padding: 4rem 0 4rem;
    background: var(--color-dark);
    color: #fff;
}
footer .text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .text .contact{
    display: flex;
    gap: 1rem;
    align-items: center;
}
footer .text .contact .material-symbols-outlined{
    font-size: var(--font-size-30);
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 1, 'opsz' 20;;
}
footer .text .contact .txt{
    font-size: var(--font-size-18);
    font-weight: 300;
}
footer .text .copyrights{
    font-size: var(--font-size-16);
    opacity: 0.6;
    font-weight: 100;
}

@media screen and (max-width: 1500px) {
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    header{
        padding-left: 15px;
        padding-right: 15px;
    }
    /* porfolio */
    .portfolio-wrap{
        gap: 3rem;
    }

    /* about */
    .about-wrap{
        grid-template-columns: var(--grid-template-1);
        gap: 4rem;
    }
}
@media screen and (max-width: 800px) {
    /* porfolio */
    .portfolio-wrap{
        grid-template-columns: var(--grid-template-2);
        gap: 3rem;
    }
}
@media screen and (max-width: 500px) {
    /* porfolio */
    .portfolio-wrap{
        grid-template-columns: var(--grid-template-1);
        gap: 3rem;
    }
}